<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Education</title>
</head>
<body>
  <form action="#" th:action="@{/resumes/edu}" th:object="${educ}" method="post">
         <p>Major(s) : <input type="text" th:field="*{major}"/> </p>
         <p>Universities Attended: <input type="text" th:field="*{university}"/> </p>
         <p>Graduation Date(s) : <input type="text" th:field="*{gradDate}"/> </p>
         <p><input type="submit" value="Submit Education"/></p>
  </form>

</body>
</html>