<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Applicant</title>
</head>
<body>
      <h1>Resume</h1>
      <table>
          <th:block th:each="appl : ${appls}">
              <tr>
                  <td th:text="${appl.fullName}"></td>
               </tr>
               <tr>
                  <td th:text="${appl.eMail}"></td>    
              </tr>             
          </th:block> 
          <th:block th:each="educ : ${educs}">
              <tr>
                  <td th:text= "${educ.major}"></td> 
              </tr>
              <tr>
                  <td th:text="${educ.university}"></td>                     
              </tr>
              <tr>     
                  <td th:text="${educ.gradDate}"></td>    
               </tr>
               
              </th:block> 
     </table>
       </body>
</html>
